{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    {% for type, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ type }}">
                {{ message }}
                <button class="close-alert" onclick="this.parentElement.style.display='none'">×</button>
            </div>
        {% endfor %}
    {% endfor %}

    <h1> ✨ Hello {{app.user.username}} ! ✨</h1>
    <a href="{{path('app_logout')}}" class="btn">Logout</a>
    <a href="{{path('profile')}}" class="btn">Account</a>
    <a href="{{path('show_habits')}}" class="btn">My Habits</a>
    {% if app.user.group is null %}
        <a href="{{ path('group_new') }}" class="btn">Make a Group</a>
        <a href="{{ path('view_invitations') }}" class="btn">Invitations</a>
    {% else %}
    <p>You are a member of: <br><a href="{{ path('show_group_habits') }}" class="btn">✨ {{ app.user.group.name }} ✨</a>
    </p>

    {% endif %}
{% endblock %}