{% extends 'base.html.twig' %}

{% block title %}All Groups{% endblock %}

{% block body %}
    <h1>All Groups</h1>

    <ul class="group-list">
        {% for group in groups %}
            <li class="group-item">
                {% if app.user.group is null %}
                {% else %}
                    <div class="group-name">{{ group.name }}</div>
                {%endif%}
                <div class="group-actions">
                    {% if app.user.group is null %}
                        <form method="post" action="{{ path('join_group', { 'id': group.id }) }}" class="join-group-form">
                            <input type="hidden" name="_token" value="{{ csrf_token('join' ~ group.id) }}">
                            <span class="group-name">{{ group.name }}</span>
                            <br>
                            <button type="submit" class="btn">Rejoindre</button>
                        </form>
                    {% else %}
                    {% endif %}
                </div>
            </li>
        {% else %}
            <p>No groups found.</p>
        {% endfor %}
    </ul>

    <a href="{{ path('app_admin') }}" class="btn">Back to Home</a>
{% endblock %}